.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json

.prettierrc
node_modules
package-lock.json
pnpm-lock.yaml
src/extension.js
src/core/render.js

webview-ui/**
!webview-ui/build/